* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #D1CFE8;
}

.container {
    padding: 20px; 
    width: 1200px;
    height: auto;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


h4 {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
}

.abut {
    min-height: 100vh;
    display: flex;  
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.abut p {
    margin-top: 40px;
    font-size: 18px;
}

.abut h1 {
    margin-top: -1000px;

}

.abut i {
    display: flex;
    margin-bottom: 1330px;
    margin-left: 1190px;
}

h1 {
    font-size: 80px;
    color: #8b84db;

}

.info {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    text-align: center;
}

.members {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.members img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8b84db;
}

.names {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.names p { 
    font-weight: 500; 
}

.names span {
    font-size: 0.9em; 
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin-top: 50px;
    min-height: 100vh;
    align-items: center;
}

.contact a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
